.App {
  text-align: center;
  width: 85%;
  background-color:  rgb(22, 204, 22);
  margin: 25px 0px 0px 25px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  font-size: large;
  font-weight: bold;
  color: white;
}

.button{
  background-color: red;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
